

a {
    color: #A91919;
}

a:hover,
a:active {
    color: #d60a0a;
}

a:visited {
    color: #984646;
}

.wy-side-nav-search {
    background-color: #404E61;
}

.wy-side-nav-search input[type=text] {
    border-color: #404E61;
}

.wy-side-nav-search>a,
.wy-side-nav-search .wy-dropdown>a,
.wy-menu-vertical a:hover {
    color: #fff !important;
}

.wy-menu-vertical a:active {
    background-color: #A91919;
}

.wy-menu-vertical a:visited {
    color: #b3b3b3;
}

/* Hide h3s and down in the left navigation. */

.wy-menu-vertical li.current .toctree-l4 ~ ul {
    display: none;
}

ol li {
    margin-top:18px;
}

/* For preserving nav bar indent once updates from 1.0.4 to 1.1*/
/*
.wy-menu-vertical li.toctree-l1 a[href="../.."], .wy-menu-vertical li.toctree-l1.current a[href="."] {
    padding: .4045em 1.618em !important;
    font-size: 90%;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    font-size: 90%;
}

.wy-menu-vertical li.toctree-l1 a, .wy-menu-vertical li.loctree-l1.current span.toctree-expand, .wy-menu-vertical li.loctree-l1.current a {
    padding: 0.4045em 2.427em !important;
    font-size: 90%;
}

.wy-menu-vertical li.toctree-l2 a, .wy-menu-vertical li.loctree-l2.current a, .wy-menu-vertical li.loctree-l2.current span.toctree-expand {
    padding: 0.4045em 4.045em !important;
    font-size: 90%;
}

.wy-menu-vertical li.toctree-l3 a, .wy-menu-vertical li.loctree-l3.current a, .wy-menu-vertical li.loctree-l3.current span.toctree-expand {
    padding: 0.4045em 5.663em !important;
    font-size: 90%;
}

*/
