/* Custom styling for Kora Documentation. Done by Brian Samuel Geyer in Summer 2020 */

/* content text color */
.wy-nav-content {
    color: #283C46;
}

/* content link colors */
.wy-nav-content a,
.wy-nav-content a:visited {
    color: #04B6AF;
}

.wy-nav-content a:hover,
.wy-nav-content a:active {
    color: #05E1DA !important;
}

/* spacing for content ordered lists */
.wy-nav-content ol li {
    margin-top:18px;
}

/* sidebar header color and logo */
.wy-side-nav-search {
    background-color: #007C83;
}

.icon.icon-home {
    content: url(../img/logo-white.png);
    width: 80%;
    margin-bottom: 10px;
}

/* MOBILE top navbar */
.wy-nav-top {
    background: #007C83;
}

/* MOBILE top navbar logo icon before site name */
.wy-nav-top a::before {
    background-image: url(../img/white-kora.svg);
    background-size: 1.2em 1.2em;
    background-repeat: no-repeat;
    height: 1.3em;
    width: 1.3em;
    content: "";
    display: inline-block;
    vertical-align: -6%;
}


/* text color inside sidebar search */
.wy-side-nav-search input[type=text] {
    border-color: #404E61;
}

/* spacing at end of sidebar */
.wy-menu-vertical ul:last-of-type {
    margin-bottom: 5px;
}

/* sidebar menu top-level */
.wy-menu-vertical a {
    color: #ffffff;
}

.wy-nav-side {
    color: #ffffff;
    background: #283C46;
}

.wy-menu-vertical a:hover,
.wy-menu-vertical a:active {
    color: #ffffff;
    background-color: #007C83;
}

/* sidebar first submenu level */
.wy-menu-vertical li ul {
    background: #F5F6F7;
}

.wy-menu-vertical li.toctree-l1.current a:hover,
.wy-menu-vertical li.toctree-l2.current>a {
    background: #DAE0E3;
}

/* sidebar second submenu level */
.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
    background: #C5CED3;
}

.wy-menu-vertical li.toctree-l2.current a:hover,
.wy-menu-vertical li.toctree-l3.current>a {
    background: #A8B6BD !important;
}

/* hide h4s and down in sidebar */
.wy-menu-vertical li.current .toctree-l4 ~ ul {
    display: none;
}

/* preserving sidebar indent from 1.0.4 in 1.1+ */
/* category names */
.wy-menu-vertical header, .wy-menu-vertical p.caption {
    font-size: 90%;
}

.wy-menu-vertical li span.toctree-expand {
    color: inherit;
}

/* top-level pages (same level as category names) */
.wy-menu-vertical li.toctree-l1:only-child a {
    padding: .4045em 1.618em !important;
    font-size: 90%;
    text-transform: uppercase;
    font-weight: bold;
}

/* second-level pages, underneath category names */
.wy-menu-vertical li.toctree-l1 a, .wy-menu-vertical li.loctree-l1.current span.toctree-expand, .wy-menu-vertical li.loctree-l1.current a {
    padding: 0.4045em 2.427em !important;
    font-size: 90%;
}

/* third-level (first sub-page level) */
.wy-menu-vertical li.toctree-l2 a, .wy-menu-vertical li.loctree-l2.current a, .wy-menu-vertical li.loctree-l2.current span.toctree-expand {
    padding: 0.4045em 4.045em !important;
    font-size: 90%;
}

/* fourth-level (second sub-page level) */
.wy-menu-vertical li.toctree-l3 a, .wy-menu-vertical li.loctree-l3.current a, .wy-menu-vertical li.loctree-l3.current span.toctree-expand {
    padding: 0.4045em 5.663em !important;
    font-size: 90%;
}

/* admonition styling */
/* generic */
.rst-content .admonition {
    background: #CAE6F1;
}

.rst-content .admonition-title {
    background: #0493C9;
}

/* warning */
.rst-content .warning {
    background: #FBE2E6;
}

.rst-content .warning .admonition-title {
    background: #FF6F81;
}

/* caution */
.rst-content .caution {
    background: #FCE1D0;
}

.rst-content .caution .admonition-title {
    background: #F79F68;
}

/* tip */
.rst-content .tip {
    background: #CAEDEC;
}

.rst-content .tip .admonition-title {
    background: #04B6AF;
}

/* note */
.rst-content .note {
    background: #CAE6F1;
}

.rst-content .note .admonition-title {
    background: #0493C9;
}
